<footer class="footer">

    <div class="footer-navigation-column">
        <p class="footer-column-navigation-title">Pages</p>
        <div class="footer-link-column">
            <a href="#" class="footer-navigation-link">Home</a>
            <a href="#" class="footer-navigation-link">Product</a>
            <a href="#" class="footer-navigation-link">Pricing</a>
            <a href="#" class="footer-navigation-link">About</a>
            <a href="#" class="footer-navigation-link">Contact</a>
        </div>
    </div>

    <div class="footer-navigation-column">
        <p class="footer-column-navigation-title">Tomothy</p>
        <div class="footer-link-column">
            <a href="#" class="footer-navigation-link">Eleanor Edwards</a>
            <a href="#" class="footer-navigation-link">Ted Robertson</a>
            <a href="#" class="footer-navigation-link">Annette Russell</a>
            <a href="#" class="footer-navigation-link">Jennie Mckinney</a>
            <a href="#" class="footer-navigation-link">Gloria Richards</a>
        </div>
    </div>

    <div class="footer-navigation-column">
        <p class="footer-column-navigation-title">Jane Black</p>
        <div class="footer-link-column">
            <a href="#" class="footer-navigation-link">Philip Jones</a>
            <a href="#" class="footer-navigation-link">Product</a>
            <a href="#" class="footer-navigation-link">Colleen Russell</a>
            <a href="#" class="footer-navigation-link">Marvin Hawkins</a>
            <a href="#" class="footer-navigation-link">Bruce Simmmons</a>
        </div>
    </div>

    <div class="footer-location-contacts">
        <div class="adress">
            <img src="img/adress.png" alt="adress icon" class="footer-locaton-icon">
            <span class="footer-contacts-description">7480 Mockingbird Hill undefined </span>
        </div>

        <div class="telephone">
            <img src="img/phone.png" alt="telephone icon" class="footer-telephone-icon">
            <a href="tel:+1 (239) 555-0108" class="footer-phone-LA-description-link" id="phone-number">(239) 555-0108</a>
        </div>

        <div class="information-icon">
            <img src="img/twiter.png" alt="twitter icon" class="footer-twitter-icon">
            <img src="img/facebooks.png" alt="facebook icon" class="footer-facebook-icon">
            <img src="img/linkedIn.png" alt="linkedIn icon" class="footer-linkedIn-icon">

        </div>
    </div>

</footer>