<nav class="header__nav">
   <ul class="header__nav-links">
        <li class="header__nav-links-item">
            <a href="home.html">Home</a>
        </li>
        <li>
            <a href="product.html">Product</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
    <img  class="header__nav-image" width="185" style="background-color: black;" src="img/Rectangle.png" alt="figma">
    <div class="header__nav-social">
        <a href="https://twitter.com">
            <img width="41" style="background-color: black;" src="img/twitter.jpg" alt="twitter">
        </a>
        <a href="https://facebook.com">
            <img width="41" style="background-color: black;" src="img/facebook.png" alt="facebook">
        </a>
        <a href="https://www.linkedin.com">
            <img width="41" style="background-color: black;" src="img/linkedin.png" alt="linkedin">
        </a>
    </div>
</nav>