
    <nav class="navigation">
        <div class="line-and-menu">
            <div class="menu container">

                <div class="desktop-menu">
                    <ul class="navigation-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                    <div class="header__nav-social">
                        <a href="https://twiter.com">
                            <img width="41" src="img/twiter.png" alt="twitter">
                        </a>
                        <a href="https://facebook.com">
                            <img width="41" src="img/facebooks.png" alt="facebook">
                        </a>
                        <a href="https://www.linkedin.com">
                            <img width="41" src="img/linkedIn.png" alt="linkedin">
                        </a>
                    </div>
                    
                

                </div>

                <div class="mobile-menu container">
                    <ul class="navigation-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="header__nav-social">
                        <a href="https://twitter.com">
                            <img width="41" src="img/twiter.jpg" alt="twitter">
                        </a>
                        <a href="https://facebook.com">
                            <img width="41" src="img/facebooks.png" alt="facebook">
                        </a>
                        <a href="https://www.linkedin.com">
                            <img width="41" src="img/linkedIn.png" alt="linkedin">
                        </a>
                    </div>
                   

                </div>
                <img  class="header__nav-image" width="185" src="img/rectangle.png" alt="figma">

            </div>
        </div>
        <div class="header__content">
            <h1 class="header__title">The best products start with Figma</h1>
            <p class="header__subtitle">
                Most calendars are designed for teams. Slate is designed for freelancers
            </p>
            <a class="btn-try" href="#">Try For Free</a>
        </div>
    </nav>

