<section id="prototyping" >
    <div class="container">
        <div class="prototyping_container">
            <img  class="prototyping__image" src="img/newsletter.jpg" alt="newsletter">
            <div class="prototyping__iform">
                <p class="prototyping__text-bpld">At your fingertips</p>
                <h2 class="prototyping__title">Lightning fast prototyping </h2>
                <p class="prototyping__text-bold">Subscribe to our Newsletter</p>
                <p class="prototyping__text">Available exclusivery on Figmaland</p>
                <form class="form" method="post" action="https://formspree.io/f/mvojooqq">
                    <input type="email" id="subscribe-email" name="email" placeholder="Your Email" required="">
                    <input id="submit" value="Subscribe">
                </form>
            </div>  
        </div>
    </div>
</section>