<section class="strengths">
    <h2 class="strengths__title" >Features</h2>
    <p class="strengths__intro" >Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div class="strengths__content" >
        <article class="strengths-card" >
            <div class="strengths-card__image-container"  >
                <img class="strengths-card__image" width="40" src="img/drawing.jpg" alt="square"> 
            </div>
           <h3 class="strengths-card__header" >OpenType features Variable fonts</h3>
           <p class="strengths-card__text" >Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>

        <article class="strengths-card" >
            <div class="strengths-card__image-container">
                <img class="strengths-card__image" width="40" src="img/draw.jpg" alt="square"> 
            </div>
           <h3 class="strengths-card__header">Design with real data</h3>
           <p class="strengths-card__text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>

        <article class="strengths-card">
            <div class="strengths-card__image-container">
                <img class="strengths-card__image" width="40" src="img/brush.jpg" alt="square"> 
            </div>
           <h3 class="strengths-card__header">Fastest way to take action</h3>
           <p class="strengths-card__text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
        <img  width="1170" src="img/screen.png" alt="screen">
    </div>
</section>