<section>
    <h2>Features</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    <div>
        <article>
            <div>
                <img src="img/drawing.jpg" alt="square"> 
            </div>
           <h3>OpenType features Variable fonts</h3>
           <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>

        <article>
            <div>
                <img src="../img/draw.jpg" alt="square"> 
            </div>
           <h3>OpenType features Variable fonts</h3>
           <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>

        <article>
            <div>
                <img src="img/drawing.jpg" alt="square"> 
            </div>
           <h3>OpenType features Variable fonts</h3>
           <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
        </article>
    </div>
</section>